groq
python-dotenv
pandas
numpy
matplotlib
seaborn
tabulate
scipy
scikit-learn
faker
streamlit
langchain==0.3.27
langchain-community
langchain-groq
langchain-huggingface
sentence-transformers
chromadb
pypdf
python-docx
IProgress